---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=san%20francisco,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 11 Jun 2022 21:00:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"san
        francisco,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"San Francisco County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039201","unknownInput":"","type":"s","latLng":{"lat":37.78008,"lng":-122.420168},"displayLatLng":{"lat":37.78008,"lng":-122.420168},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=37.78008,-122.420168|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1755534115"}]}]}'
  recorded_at: Sat, 11 Jun 2022 21:00:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=37.78008&lon=-122.420168&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7801,"lon":-122.4202,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1654981256,"sunrise":1654951642,"sunset":1655004694,"temp":73.76,"feels_like":73.94,"pressure":1015,"humidity":66,"dew_point":61.7,"uvi":9.85,"clouds":20,"visibility":10000,"wind_speed":24.16,"wind_deg":290,"wind_gust":31.07,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1654981260,"precipitation":0},{"dt":1654981320,"precipitation":0},{"dt":1654981380,"precipitation":0},{"dt":1654981440,"precipitation":0},{"dt":1654981500,"precipitation":0},{"dt":1654981560,"precipitation":0},{"dt":1654981620,"precipitation":0},{"dt":1654981680,"precipitation":0},{"dt":1654981740,"precipitation":0},{"dt":1654981800,"precipitation":0},{"dt":1654981860,"precipitation":0},{"dt":1654981920,"precipitation":0},{"dt":1654981980,"precipitation":0},{"dt":1654982040,"precipitation":0},{"dt":1654982100,"precipitati[...]
