---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=san%20francisco,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 12 Jun 2022 23:47:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"san
        francisco,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"San Francisco County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039201","unknownInput":"","type":"s","latLng":{"lat":37.78008,"lng":-122.420168},"displayLatLng":{"lat":37.78008,"lng":-122.420168},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=37.78008,-122.420168|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1413431772"}]}]}'
  recorded_at: Sun, 12 Jun 2022 23:47:48 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=37.78008&lon=-122.420168&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7801,"lon":-122.4202,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1655077669,"sunrise":1655038038,"sunset":1655091121,"temp":63.7,"feels_like":63.72,"pressure":1012,"humidity":84,"dew_point":58.78,"uvi":1.94,"clouds":75,"visibility":10000,"wind_speed":18.99,"wind_deg":271,"wind_gust":34,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1655077680,"precipitation":0},{"dt":1655077740,"precipitation":0},{"dt":1655077800,"precipitation":0},{"dt":1655077860,"precipitation":0},{"dt":1655077920,"precipitation":0},{"dt":1655077980,"precipitation":0},{"dt":1655078040,"precipitation":0},{"dt":1655078100,"precipitation":0},{"dt":1655078160,"precipitation":0},{"dt":1655078220,"precipitation":0},{"dt":1655078280,"precipitation":0},{"dt":1655078340,"precipitation":0},{"dt":1655078400,"precipitation":0},{"dt":1655078460,"precipitation":0},{"dt":1655078520,"precipitati[...]
