---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=san%20francisco,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 16:46:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"san
        francisco,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"San Francisco County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039201","unknownInput":"","type":"s","latLng":{"lat":37.78008,"lng":-122.420168},"displayLatLng":{"lat":37.78008,"lng":-122.420168},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=37.78008,-122.420168|marker-sm-50318A-1&scalebar=true&zoom=12&rand=750906133"}]}]}'
  recorded_at: Mon, 13 Jun 2022 16:46:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=37.78008&lon=-122.420168&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7801,"lon":-122.4202,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1655138765,"sunrise":1655124436,"sunset":1655177546,"temp":62.91,"feels_like":61.81,"pressure":1018,"humidity":62,"dew_point":49.71,"uvi":4.83,"clouds":20,"visibility":10000,"wind_speed":16.11,"wind_deg":270,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1655138820,"precipitation":0},{"dt":1655138880,"precipitation":0},{"dt":1655138940,"precipitation":0},{"dt":1655139000,"precipitation":0},{"dt":1655139060,"precipitation":0},{"dt":1655139120,"precipitation":0},{"dt":1655139180,"precipitation":0},{"dt":1655139240,"precipitation":0},{"dt":1655139300,"precipitation":0},{"dt":1655139360,"precipitation":0},{"dt":1655139420,"precipitation":0},{"dt":1655139480,"precipitation":0},{"dt":1655139540,"precipitation":0},{"dt":1655139600,"precipitation":0},{"dt":1655139660,"precipitati[...]
