---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?fields=*,availability&limit=5&q=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.250 TT 0 0.526"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 23742,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8290304W",
                    "type": "work",
                    "seed": [
                        "/books/OL9645663M",
                        "/works/OL8290304W",
                        "/authors/OL2754912A"
                    ],
                    "title": "Boston, Ma",
                    "title_suggest": "Boston, Ma",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL9645663M"
                    ],
                    "publish_date": [
                        "December 2003"
                    ],
                    "publish_year": [
                        2003
                    ],
                    "first_publish_year": 2003,
                    "isbn": [
                        "9780841624849",
                        "0841624844"
                    ],
                    "last_modified_i": 1341770500,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL9645663M",
                    "cover_i": 1589715,
                    "publisher": [
                        "Langenscheidt Publishers"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2754912A"
                    ],
                    "author_name": [
                        "American Map Corporation"
                    ],
                    "publisher_facet": [
                        "Langenscheidt Publishers"
                    ],
                    "_version_": 1715096705879244800,
                    "author_facet": [
                        "OL2754912A American Map Corporation"
                    ]
                },
                {
                    "key": "/works/OL899437W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945166M",
                        "/works/OL899437W",
                        "/authors/OL79165A"
                    ],
                    "title": "Lowell, MA and Boston, MA: Boston, MA",
                    "title_suggest": "Lowell, MA and Boston, MA: Boston, MA",
                    "subtitle": "42071, digital raster graphic data",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945166M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                        "0607620196",
                        "9780607620191"
                    ],
                    "last_modified_i": 1272517844,
                    "ebook_count_i": 0,
                    "publisher": [
                        "USGS Branch of Distribution"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL79165A"
                    ],
                    "author_name": [
                        "United States Geological Survey"
                    ],
                    "author_alternative_name": [
                        "United States. Geological survey.",
                        "Geological Survey. (U.S.)",
                        "Geological Survey (U. S.)",
                        "Geological Survey (U .S.)",
                        "Geological Survey (U.S.) 088",
                        "U.S. Geological Survey",
                        "United States. Geological Survey",
                        "United States. Geological Survey.",
                        "Geological Survey (U.S.)"[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 16:37:17 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040344","unknownInput":"","type":"s","latLng":{"lat":42.358894,"lng":-71.056742},"displayLatLng":{"lat":42.358894,"lng":-71.056742},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=42.358894,-71.056742|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1755728825"}]}]}'
  recorded_at: Mon, 13 Jun 2022 16:37:17 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655138237,"sunrise":1655111216,"sunset":1655166109,"temp":80.49,"feels_like":82.29,"pressure":1010,"humidity":59,"dew_point":64.85,"uvi":5.79,"clouds":40,"visibility":10000,"wind_speed":9.22,"wind_deg":290,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1655138280,"precipitation":0},{"dt":1655138340,"precipitation":0},{"dt":1655138400,"precipitation":0},{"dt":1655138460,"precipitation":0},{"dt":1655138520,"precipitation":0},{"dt":1655138580,"precipitation":0},{"dt":1655138640,"precipitation":0},{"dt":1655138700,"precipitation":0},{"dt":1655138760,"precipitation":0},{"dt":1655138820,"precipitation":0},{"dt":1655138880,"precipitation":0},{"dt":1655138940,"precipitation":0},{"dt":1655139000,"precipitation":0},{"dt":1655139060,"precipitation":0},{"dt":1655139120,"precipitati[...]
