---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&place=brisket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.080 TT 0 0.081"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "",
            "offset": null
        }
  recorded_at: Mon, 13 Jun 2022 16:56:19 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=brisket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 16:56:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"brisket"},"locations":[{"street":"Brisset","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Foss\u00E8s-et-Baleyssac","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Nouvelle-Aquitaine","adminArea3Type":"State","adminArea1":"FR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"FR/STR/p0/3739111","unknownInput":"","type":"s","latLng":{"lat":44.59904,"lng":0.03742},"displayLatLng":{"lat":44.59904,"lng":0.03742},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=44.59904,0.03742|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1646353420"},{"street":"Briskey
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Hillsboro
        Town","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"54634","geocodeQualityC[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=44.59904&lon=0.03742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.599,"lon":0.0374,"timezone":"Europe/Paris","timezone_offset":7200,"current":{"dt":1655139380,"sunrise":1655093657,"sunset":1655149538,"temp":86.04,"feels_like":85.69,"pressure":1016,"humidity":41,"dew_point":59.61,"uvi":1.53,"clouds":24,"visibility":10000,"wind_speed":8.9,"wind_deg":357,"wind_gust":8.32,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1655139420,"precipitation":0},{"dt":1655139480,"precipitation":0},{"dt":1655139540,"precipitation":0},{"dt":1655139600,"precipitation":0},{"dt":1655139660,"precipitation":0},{"dt":1655139720,"precipitation":0},{"dt":1655139780,"precipitation":0},{"dt":1655139840,"precipitation":0},{"dt":1655139900,"precipitation":0},{"dt":1655139960,"precipitation":0},{"dt":1655140020,"precipitation":0},{"dt":1655140080,"precipitation":0},{"dt":1655140140,"precipitation":0},{"dt":1655140200,"precipitation":0},{"dt":1655140260,"precipitati[...]
