---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=ontario,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 16:46:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"ontario,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ON","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A3XAX","geocodeQuality":"STATE","dragPoint":false,"sideOfStreet":"N","linkId":"282097627","unknownInput":"","type":"s","latLng":{"lat":48.481266,"lng":-89.323622},"displayLatLng":{"lat":48.481266,"lng":-89.323622},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=48.481266,-89.323622|marker-sm-50318A-1&scalebar=true&zoom=5&rand=-931813872"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Ontario","adminArea5Type":"City","adminArea4":"San
        Bernardino County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039294","unknownInput":"","type":"s","latLng":{"lat":34.063341,"lng":-117.651187},"displayLatLng":{"lat":34.063341,"lng":-117.651187},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=34.063341,-117.651187|marker-sm-50318A-2&scalebar=true&zoom=12&rand=-1791737207"}]}]}'
  recorded_at: Mon, 13 Jun 2022 16:46:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=48.481266&lon=-89.323622&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.4813,"lon":-89.3236,"timezone":"America/Thunder_Bay","timezone_offset":-14400,"current":{"dt":1655138765,"sunrise":1655114113,"sunset":1655171981,"temp":52.81,"feels_like":51.78,"pressure":1013,"humidity":85,"dew_point":48.43,"uvi":0.56,"clouds":100,"visibility":10000,"wind_speed":12.66,"wind_deg":90,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1655138820,"precipitation":0},{"dt":1655138880,"precipitation":0},{"dt":1655138940,"precipitation":0},{"dt":1655139000,"precipitation":0},{"dt":1655139060,"precipitation":0},{"dt":1655139120,"precipitation":0},{"dt":1655139180,"precipitation":0},{"dt":1655139240,"precipitation":0},{"dt":1655139300,"precipitation":0},{"dt":1655139360,"precipitation":0},{"dt":1655139420,"precipitation":0},{"dt":1655139480,"precipitation":0},{"dt":1655139540,"precipitation":0},{"dt":1655139600,"precipitation":0},{"dt":1655139660,"precipitati[...]
