---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=ontario,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 12 Jun 2022 23:47:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"ontario,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ON","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A3XAX","geocodeQuality":"STATE","dragPoint":false,"sideOfStreet":"N","linkId":"282097627","unknownInput":"","type":"s","latLng":{"lat":48.481266,"lng":-89.323622},"displayLatLng":{"lat":48.481266,"lng":-89.323622},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=48.481266,-89.323622|marker-sm-50318A-1&scalebar=true&zoom=5&rand=-186996396"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Ontario","adminArea5Type":"City","adminArea4":"San
        Bernardino County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039294","unknownInput":"","type":"s","latLng":{"lat":34.063341,"lng":-117.651187},"displayLatLng":{"lat":34.063341,"lng":-117.651187},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=34.063341,-117.651187|marker-sm-50318A-2&scalebar=true&zoom=12&rand=339547899"}]}]}'
  recorded_at: Sun, 12 Jun 2022 23:47:49 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=48.481266&lon=-89.323622&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.4813,"lon":-89.3236,"timezone":"America/Thunder_Bay","timezone_offset":-14400,"current":{"dt":1655077669,"sunrise":1655027723,"sunset":1655085547,"temp":62.92,"feels_like":61.18,"pressure":1012,"humidity":48,"dew_point":42.96,"uvi":0.46,"clouds":75,"visibility":10000,"wind_speed":10.36,"wind_deg":160,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1655077680,"precipitation":0},{"dt":1655077740,"precipitation":0},{"dt":1655077800,"precipitation":0},{"dt":1655077860,"precipitation":0},{"dt":1655077920,"precipitation":0},{"dt":1655077980,"precipitation":0},{"dt":1655078040,"precipitation":0},{"dt":1655078100,"precipitation":0},{"dt":1655078160,"precipitation":0},{"dt":1655078220,"precipitation":0},{"dt":1655078280,"precipitation":0},{"dt":1655078340,"precipitation":0},{"dt":1655078400,"precipitation":0},{"dt":1655078460,"precipitation":0},{"dt":1655078520,"precipitati[...]
