---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=ontario,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 11 Jun 2022 21:00:57 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"ontario,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ON","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A3XAX","geocodeQuality":"STATE","dragPoint":false,"sideOfStreet":"N","linkId":"282097627","unknownInput":"","type":"s","latLng":{"lat":48.481266,"lng":-89.323622},"displayLatLng":{"lat":48.481266,"lng":-89.323622},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=48.481266,-89.323622|marker-sm-50318A-1&scalebar=true&zoom=5&rand=112002697"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Ontario","adminArea5Type":"City","adminArea4":"San
        Bernardino County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039294","unknownInput":"","type":"s","latLng":{"lat":34.063341,"lng":-117.651187},"displayLatLng":{"lat":34.063341,"lng":-117.651187},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=34.063341,-117.651187|marker-sm-50318A-2&scalebar=true&zoom=12&rand=1106989808"}]}]}'
  recorded_at: Sat, 11 Jun 2022 21:00:57 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=48.481266&lon=-89.323622&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.4813,"lon":-89.3236,"timezone":"America/Thunder_Bay","timezone_offset":-14400,"current":{"dt":1654981257,"sunrise":1654941336,"sunset":1654999111,"temp":62.92,"feels_like":60.84,"pressure":1007,"humidity":41,"dew_point":38.89,"uvi":3.47,"clouds":40,"visibility":10000,"wind_speed":8.28,"wind_deg":37,"wind_gust":12.41,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1654981260,"precipitation":0},{"dt":1654981320,"precipitation":0},{"dt":1654981380,"precipitation":0},{"dt":1654981440,"precipitation":0},{"dt":1654981500,"precipitation":0},{"dt":1654981560,"precipitation":0},{"dt":1654981620,"precipitation":0},{"dt":1654981680,"precipitation":0},{"dt":1654981740,"precipitation":0},{"dt":1654981800,"precipitation":0},{"dt":1654981860,"precipitation":0},{"dt":1654981920,"precipitation":0},{"dt":1654981980,"precipitation":0},{"dt":1654982040,"precipitation":0},{"dt":1654982100,"precipitati[...]
