---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=42.358894&lon=-71.056742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1654902538,"sunrise":1654852037,"sunset":1654906818,"temp":296.65,"feels_like":296.18,"pressure":1009,"humidity":43,"dew_point":283.36,"uvi":0.32,"clouds":75,"visibility":10000,"wind_speed":5.36,"wind_deg":0,"wind_gust":0,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1654902540,"precipitation":0},{"dt":1654902600,"precipitation":0},{"dt":1654902660,"precipitation":0},{"dt":1654902720,"precipitation":0},{"dt":1654902780,"precipitation":0},{"dt":1654902840,"precipitation":0},{"dt":1654902900,"precipitation":0},{"dt":1654902960,"precipitation":0},{"dt":1654903020,"precipitation":0},{"dt":1654903080,"precipitation":0},{"dt":1654903140,"precipitation":0},{"dt":1654903200,"precipitation":0},{"dt":1654903260,"precipitation":0},{"dt":1654903320,"precipitation":0},{"dt":1654903380,"precipitati[...]
