---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3601,"lon":-71.0589,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1654981219,"sunrise":1654938428,"sunset":1654993251,"temp":76.39,"feels_like":75.7,"pressure":1012,"humidity":42,"dew_point":51.62,"uvi":1.73,"clouds":100,"visibility":10000,"wind_speed":14,"wind_deg":0,"wind_gust":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1654981200,"temp":76.39,"feels_like":75.7,"pressure":1012,"humidity":42,"dew_point":51.62,"uvi":1.73,"clouds":100,"visibility":10000,"wind_speed":7.54,"wind_deg":299,"wind_gust":9.19,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1654984800,"temp":76.06,"feels_like":75.29,"pressure":1012,"humidity":41,"dew_point":50.68,"uvi":0.95,"clouds":99,"visibility":10000,"wind_speed":4.38,"wind_deg":296,"wind_gust":7.23,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1654988400,"temp":74.43,"feels_like":73.78,"pressure":1012,"humidity":47,"dew_point":52.9,"uvi":0.31,"clouds":95,"visibility":10000,"wind_speed":2.04,"wind_deg":243,"wind_gust":3.09,"weather":[{"id":80[...]
