---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=albuquerque,nm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 17:48:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"albuquerque,nm"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Albuquerque","adminArea5Type":"City","adminArea4":"Bernalillo
        County","adminArea4Type":"County","adminArea3":"NM","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039130","unknownInput":"","type":"s","latLng":{"lat":35.084248,"lng":-106.649241},"displayLatLng":{"lat":35.084248,"lng":-106.649241},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=35.084248,-106.649241|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1574933604"}]}]}'
  recorded_at: Mon, 13 Jun 2022 17:48:42 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=35.084248&lon=-106.649241&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.0842,"lon":-106.6492,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655142523,"sunrise":1655121117,"sunset":1655173295,"temp":92.35,"feels_like":88.03,"pressure":987,"humidity":14,"dew_point":36.3,"uvi":10.41,"clouds":20,"visibility":10000,"wind_speed":8.01,"wind_deg":226,"wind_gust":15.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1655142540,"precipitation":0},{"dt":1655142600,"precipitation":0},{"dt":1655142660,"precipitation":0},{"dt":1655142720,"precipitation":0},{"dt":1655142780,"precipitation":0},{"dt":1655142840,"precipitation":0},{"dt":1655142900,"precipitation":0},{"dt":1655142960,"precipitation":0},{"dt":1655143020,"precipitation":0},{"dt":1655143080,"precipitation":0},{"dt":1655143140,"precipitation":0},{"dt":1655143200,"precipitation":0},{"dt":1655143260,"precipitation":0},{"dt":1655143320,"precipitation":0},{"dt":1655143380,"precipitati[...]
