---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&location=chili%20dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 11 Jun 2022 17:28:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chili
        dogs"},"locations":[{"street":"Chili Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Seif","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"54456","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/1129162","unknownInput":"","type":"s","latLng":{"lat":44.6252,"lng":-90.71034},"displayLatLng":{"lat":44.6252,"lng":-90.71034},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=KNA7xXRRsxQJX1I4nhH8gXdk27FbXorC&type=map&size=225,160&locations=44.6252,-90.71034|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1280475563"},{"street":"Chili
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Fremont","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocode[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=44.6252&lon=-90.71034
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.6252,"lon":-90.7103,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1654968521,"sunrise":1654942644,"sunset":1654998469,"temp":290.47,"feels_like":290.82,"pressure":1007,"humidity":98,"dew_point":290.15,"uvi":0.69,"clouds":100,"visibility":10000,"wind_speed":2.37,"wind_deg":170,"wind_gust":5.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1654968540,"precipitation":0},{"dt":1654968600,"precipitation":0},{"dt":1654968660,"precipitation":0},{"dt":1654968720,"precipitation":0},{"dt":1654968780,"precipitation":0},{"dt":1654968840,"precipitation":0},{"dt":1654968900,"precipitation":0},{"dt":1654968960,"precipitation":0},{"dt":1654969020,"precipitation":0.116},{"dt":1654969080,"precipitation":0.1365},{"dt":1654969140,"precipitation":0.157},{"dt":1654969200,"precipitation":0.1776},{"dt":1654969260,"precipitation":0.1967},{"dt":1654969320,"precipitation":0.2159},{[...]
