---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.358,"lon":-71.06,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1654981234,"sunrise":1654938429,"sunset":1654993251,"temp":76.42,"feels_like":75.74,"pressure":1012,"humidity":42,"dew_point":51.66,"uvi":1.73,"clouds":100,"visibility":10000,"wind_speed":14,"wind_deg":0,"wind_gust":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1654981260,"precipitation":0},{"dt":1654981320,"precipitation":0},{"dt":1654981380,"precipitation":0},{"dt":1654981440,"precipitation":0},{"dt":1654981500,"precipitation":0},{"dt":1654981560,"precipitation":0},{"dt":1654981620,"precipitation":0},{"dt":1654981680,"precipitation":0},{"dt":1654981740,"precipitation":0},{"dt":1654981800,"precipitation":0},{"dt":1654981860,"precipitation":0},{"dt":1654981920,"precipitation":0},{"dt":1654981980,"precipitation":0},{"dt":1654982040,"precipitation":0},{"dt":1654982100,"precipitati[...]
