---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=lHgYyTTxgUwPDBEgFIxYhUJ2Hy_hVbdU4E_8k6KpWgk&order_by=relevant&per_page=1&query=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=lHgYyTTxgUwPDBEgFIxYhUJ2Hy_hVbdU4E_8k6KpWgk&order_by=relevant&page=7169&per_page=1&query=miami%2Cfl>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=lHgYyTTxgUwPDBEgFIxYhUJ2Hy_hVbdU4E_8k6KpWgk&order_by=relevant&page=2&per_page=1&query=miami%2Cfl>;
        rel="next"
      X-Total:
      - '7169'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"5b3757af6a55e4f459d44ebb2d88d7cc"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":7169,"total_pages":7169,"results":[{"id":"67uJo7mZPCo","created_at":"2022-01-23T18:26:34-05:00","updated_at":"2022-06-10T19:24:49-04:00","promoted_at":"2022-01-24T06:56:03-05:00","width":3995,"height":3995,"color":"#c0c0c0","blur_hash":"L9IrW?^+_N4n?J-;~pD%0L%MoI%M","description":"instagram:
        @andredantan","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1642980364256-12e2811c91ae?ixid=MnwzMzY4Njd8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTY1NDk3NDI2NA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1642980364256-12e2811c91ae?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzMzY4Njd8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTY1NDk3NDI2NA\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1642980364256-12e2811c91ae?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY4Njd8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTY1NDk3NDI2NA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1642980364256-12e2811c91ae?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY4Njd8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTY1NDk3NDI2NA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1642980364256-12e2811c91ae?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY4Njd8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTY1NDk3NDI2NA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1642980364256-12e2811c91ae"},"links":{"self":"https://api.unsplash.com/photos/67uJo7mZPCo","html":"https://unsplash.com/photos/67uJo7mZPCo","download":"https://unsplash.com/photos/67uJo7mZPCo/download?ixid=MnwzMzY4Njd8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTY1NDk3NDI2NA","download_location":"https://api.unsplash.com/photos/67uJo7mZPCo/download?ixid=MnwzMzY4Njd8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTY1NDk3NDI2NA"},"categories":[],"likes":28,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"fashion":{"status":"approved","approved_on":"2022-01-31T09:23:00-05:00"}},"user":{"id":"F38Jf16qduQ","updated_at":"2022-06-10T23:32:08-04:00","username":"andredantan19","name":"Andre
        Tan","first_name":"Andre","last_name":"Tan","twitter_username":"andredantan","portfolio_url":"https://www.cocomediaproduction.com","bio":"Enjoy
        the visuals!","location":"Miami, FL","links":{"self":"https://api.unsplash.com/users/andredantan19","html":"https://unsplash.com/@andredantan19","photos":"https://api.unsplash.com/users/andredantan19/photos","likes":"https://api.unsplash.com/users/andredantan19/likes","portfolio":"https://api.unsplash.com/users/andredantan19/portfolio","following":"https://api.unsplash.com/users/andredantan19/following","followers":"https://api.unsplash.com/users/andredantan19/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1538930485085-f04396bdb78f?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1538930485085-f04396bdb78f?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1538930485085-f04396bdb78f?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"andredantan","total_collections":0,"total_likes":206,"total_photos":241,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"andredantan","portfolio_url":"https://www.cocomediaproduction.com","twitter_username":"andredantan","paypal_email":null}},"tags":[{"type":"search","title":"miami
        beach"},{"type":"search","title":"usa"},{"type":"search","title":"fl"}]}]}'
  recorded_at: Sat, 11 Jun 2022 21:00:55 GMT
recorded_with: VCR 6.1.0
