---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=4f63b483f8977ca5a2137c7a5059db46&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655078247,"sunrise":1655024821,"sunset":1655079681,"temp":70.66,"feels_like":70.77,"pressure":1014,"humidity":71,"dew_point":60.82,"uvi":0,"clouds":94,"visibility":10000,"wind_speed":8.99,"wind_deg":163,"wind_gust":15.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1655078280,"precipitation":0},{"dt":1655078340,"precipitation":0},{"dt":1655078400,"precipitation":0},{"dt":1655078460,"precipitation":0},{"dt":1655078520,"precipitation":0},{"dt":1655078580,"precipitation":0},{"dt":1655078640,"precipitation":0},{"dt":1655078700,"precipitation":0},{"dt":1655078760,"precipitation":0},{"dt":1655078820,"precipitation":0},{"dt":1655078880,"precipitation":0},{"dt":1655078940,"precipitation":0},{"dt":1655079000,"precipitation":0},{"dt":1655079060,"precipitation":0},{"dt":1655079120,"precipitati[...]
